@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.logo img{
    height: 6rem;
}
.nav-ul,nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: none;
    font-size: 1.6rem;
}
.nav-bar button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-ul{
    gap: 4rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #8C1B21;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav{
    align-items: center;
    padding: 2rem 6rem;
}
.log{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}
.sign{
    border: none;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background: linear-gradient(to left, #8C1B21 50%, #0194DA 50%) right;
    background-size: 300%;
    transition: .5s ease-out;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
}
.sign:hover{
    background-position: left;
}
.nav-btn{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.call-btn{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    background-color: #0194DA;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: white;
    gap: .5rem;
    cursor: pointer;
}
.call-btn:hover{
    background-color: #8C1B21;
    transition: 0.5s;
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #8C1B21;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .sidepanel a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 5rem;
  }

  .sidepanel a:hover {
    color:  #0194DA;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
  }

/* banner starts here */
main{
    background-image: url(photosrc/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70rem;
    background-position: bottom;
}
.banner-content{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner-header{
    font-size: 6rem;
    color: white;
    font-weight: 600;
    text-align: center;
}
.banner-content > p{
    font-size: 1.8rem;
    color: white;
}
.search-btn{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 1.5rem;
    background: linear-gradient(to left, #8C1B21 50%, #0194DA 50%) right;
    background-size: 300%;
    transition: .5s ease-out;
    font-size: 1.6rem;
    width: 20%;
}
.search-btn:hover{
    background-position: left;
    font-size: 1.7rem;
}
.search-bar{
    /* border-radius: 2rem; */
    margin-top: 2rem;
    display: flex;
}
.search-bar input{
    border: none;
    outline: none;
    padding: 0 2rem;
    width: 60rem;
    background-color: white
}

/* about us starts here */
.about-img img{
    max-height: 50rem;
}
.about-us{
    display: flex;
    padding: 6rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.about-header{
    font-size: 4rem;
}
.about-us  p{
    font-size: 1.6rem;
    margin:1rem 0;
    color: gray;
}
.about-content{
    width: 50%;
}


/* service starts here */
.services{
    background-image: url(photosrc/our\ service.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    gap: 4rem;
}
.service-title{
    font-size: 3.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 600;
}
.service-title i{
    width: 10rem;
    height: .2rem;
    background-color: white;
}
.service-card{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
}
.service-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
}
.service-icon img{
    height: 8rem;
}
.service-header{
    font-size: 2.4rem;
    font-weight: 600;
}
.service-card p{
    text-align: center;
    font-size: 1.4rem;
}

.tour-img img{
    height: 30rem;
}
.tour-header{
    font-size: 3.2rem;
    color: #8C1B21;
    font-weight: 600;
}
.tour-pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.tour-pack p{
    font-size: 1.8rem;
}
.tour-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}
.place-name{
    font-size: 1.8rem;
}
.tour-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    margin-top: 2rem;
}

.view-all-btn button{
    border: none;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to left, #8C1B21 50%, #0194DA 50%) right;
    background-size: 300%;
    transition: .5s ease-out;
}
.view-all-btn button:hover{
    background-position: left;
}
.view-all-btn{
    margin: auto;
    width: fit-content;
}


/* why us starts here */
.why-container{
    background-image: url(./photosrc/why-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12rem;
    margin-top: 4rem;
}
.why-icon img{
    height: 4rem;
    width: 100%;
}
.why-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
}
.why-card{
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.why-title{
    font-size: 3.2rem;
    color: white;
    margin: 2rem auto;
    width: fit-content;
    font-weight: 600;
}
.why-header{
    font-size: 1.8rem;
    font-weight: bold;
}
.why-txt{
    font-size: 1.4rem;
}

.numbers{
    font-size: 2.8rem;
    color: #8C1B21;
    font-weight: bold;
}
.tours-content p{
    font-size: 1.8rem;
}
.tours-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tours-container{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.flight-container{
    background-image: url(./photosrc/flight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%  30%;
    padding: 10rem;
    border-bottom: 8rem solid #0087ca;
}
.flight-header{
    font-size: 3.8rem;
    color: white;
    width: 60%;
}
.flight-content p{
    font-size: 1.6rem;
    color: white;
    margin: 1rem 0;
}
.flight-btn button{
    background: linear-gradient(to left, #8C1B21 50%, #0194DA 50%) right;
    background-size: 300%;
    transition: .5s ease-out;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.flight-btn button:hover{
    background-position: left;
}

footer{
    background-image: url(./photosrc/footer.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 10rem 10rem 2rem 10rem;
    color: white;
}
.footer-img img{
    height: 6rem;
}
.footer-row span{
    font-size: 1.4rem;
}
.f-head{
    font-size: 1.8rem;
    font-weight: 600;
}
.f-col{
    font-size: 1.4rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.frow{
    width: 20%;
}
.social-media{
    font-size: 1.8rem;
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}
.social-media a{
    color: white;
}
.copywright{
    margin-top: 20rem;
    font-size: 1.4rem;
}
.copywright span{
    color: #0087ca;
}

.inner-banner-header{
    font-size: 3.2rem;
    font-weight: 600;
}
.inner-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 6rem;
    background-image: url(./photosrc/our-service.jpg);
    background-size: cover;
}
.ser-pg .service-card{
    background-color: #0087ca;
    color: white;
}
.ser-pg .service-title i{
   background-color: black;
}
.inner-banner p{
    font-size: 1.6rem;
    text-align: center;
    width: 50%;
}
.inner-banner-links,.inner-banner-links a{
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}
.inner-banner-links a:hover{
    color: #0194DA;
    transition: .5s;
}
.ser-pg{
    background-image: none;
}
.con-banner{
    background-image: url(./photosrc/contact.jpg);
    background-position: 50%;
}

.contact-icon img{
    height: 4rem;
}
.contact-info{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
.contact-card p{
    font-size: 1.4rem;
    text-align: center;
}
.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    box-shadow: .4rem .2rem .8rem rgb(217, 213, 213);
    gap: .5rem;
}
.contact-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 6rem;
    gap: 4rem;
}

.contact-map-container{
    display: flex;
    padding: 0 8rem 2rem ;
    align-items: center;
    justify-content: space-between;
}
.contact-form{
    padding: 0 2rem;
}
.input-ctrl input,textarea{
    width: 100%;
    padding: 2rem;
    outline: none;
}
.input-ctrl{
    padding: 1rem 0;
}
textarea{
    height: 20rem;
    width: 60rem;
}
.send-btn button{
    background-color: #8C1B21;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 2rem;
}
.send-btn button:hover{
    background-color: #0087ca;
    transition: 0.3s;
}

.des-banner{
    background-image: url(./photosrc/japan.jpg);
}

.about-banner{
    background-image: url(./photosrc/italy.jpg);
}
.about-media i{
    color: #8C1B21;
}

.tour-banner{
    background-image: url(./photosrc/tourpakagebanner.jpg);
}

/* pkg starts here */
.tours-pkg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.tours-pkg-container h2{
    font-size: 3.2rem;
    color: #0194DA;
}
.tours-pkg-container p{
    font-size: 1.6rem;
    text-align: center;
}
.pkg-card-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    padding: 4rem;
}
.pkg-img img{
    height: 30rem;
}
.learn-btn{
    font-size: 1.4rem;
    background-color: #0087ca;
    color: white;
    width: fit-content;
    margin: 1rem;
    position: absolute;
    padding: 1rem;
    top: 0;
}
.learn-btn:hover{
    background-color: #8C1B21;
    transition: .3s;
}
.learn-btn a{
    color: white;
}
.pkg-card{
    max-width: 60rem;
    position: relative;
}
.pkg-card-content{
    padding: 1rem;
}
.tour-name{
    font-size: 2.4rem;
    color: #0087ca;
}
.pkg-date{
    display: flex;
    align-items: center;
    gap: .3rem;
    color: rgb(70, 68, 68);
    font-size: 1.4rem;
}
.book-now-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pkg-price{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}
.book-btn button{
    outline: none;
    background-color: #8C1B21;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: .2rem;
    margin: 1rem 0;
    cursor: pointer;
}
.book-btn button:hover{
    background-color: #0087ca;
    transition: .3s;
}

/* tour detail starts here */
.pkg-container{
    display: flex;
    padding: 4rem;
    margin: auto;
    justify-content: space-between;
}
.pkg-photo img{
    height: 40rem;
    width: 100%;
}
.description i{
    color: #0087ca;
}
.description h2{
    font-size: 2.4rem;
    align-items: center;
    display: flex;
    gap: .5rem;
    margin: 3rem 0;
}
.pkg-content p{
    font-size: 1.6rem;
    color: #7f7f7f;
}
.pkg-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.pkg-header h1{
    font-size: 3.2rem;
}
.pkg-rating i{
    color: rgb(255, 170, 0);
}
.pkg-rating{
    font-size: 1.8rem;
}
.pkg-searchbar{
    border: .1rem solid black;
    font-size: 1.6rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.pkg-searchbar input{
    outline: none;
    border: none;
}
.trip-container{
    font-size: 1.8rem;
    margin: 2rem 0;
    border: .1rem solid gray;
}
.trip-head{
    background-color: #8C1B21;
    color: white;
    padding: 1rem;
}
.trip-info{
    padding: 1rem;
    border-bottom: .1rem solid gray;
}
.share-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.share-media i{
    font-size: 2.4rem;
    color: #0194DA;
}
.side-img img{
    height: 10rem;
    width: 100%;
}
.side-card{
    padding: .5rem;
    margin: 1rem 0;
}
.side-card p{
    color: #7f7f7f;
    margin: 1rem 0;
    font-size: 1.2rem;
}
.view-pkg-btn button{
    padding: .5rem;
    background-color: #8C1B21;
    border: none;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}
.view-pkg-btn button:hover{
    background-color: #0087ca;
    transition: .3s;
}
.pkg-sidebar{
    max-width: 40rem;
    padding: 0 4rem;
}
.about-tour table{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}
.about-tour td{
    font-size: 1.4rem;
}
.about-tour td,th{
    border: .1rem solid gray;
}
.day{
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    color: #7f7f7f;
    margin: 1rem 0;
}
.day span{
    color: black;
    font-weight: bold;
    margin: 0 .5rem;
}



@media (max-width:768px){
    html{
        font-size: 30%;
    }
    .nav-ul{
        display: none;
    }
    .about-us,.contact-map-container,.pkg-container{
        flex-direction: column;
    }
    .about-content,.flight-header,.about-img{
        width: 100%;
    }
    .service-card-container,.why-card-container,.pkg-card-wrapper{
        grid-template-columns: auto auto;
    }
    .services{
        padding: 1rem;
        padding-bottom: 2rem;
    }
    .nav-bar{
        display: block;
    }
    .pkg-sidebar{
        margin-top: 2rem;
    }
}
@media (min-width:481px) and (max-width:768px){
    .service-card-container,.why-card-container{
        grid-template-columns: auto auto auto ;
    }
    .contact-map-container,.pkg-container{
        flex-direction: row;
    }
}
@media (min-width:769px) and (max-width:1024px){
    html{
        font-size: 40%;
    }
}
@media (min-wdith:1025px) and (max-width:1200px){
    html{
        font-size: 50%;
    }
}
@media (min-width:1201px){
    html{
        font-size: 62.5%;
    }
}